# LaTeX build artifacts (anywhere)
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.lof
*.lot
*.nav
*.snm
*.vrb
*.xdv
*.dvi
*.idx
*.ilg
*.ind
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ptc

# latexmk
latexmk.out

# common build dirs (anywhere)
# Ignore everything in build...
**/build/**

# ...but keep build directories and PDFs trackable
!**/build/
!**/build/**/
!**/build/**/*.pdf
**/out/

# editors / OS
.DS_Store
Thumbs.db
